@import '../quasar.variables'

.bg-gradient-primary
    background: $low;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, $low, $high);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, $low, $high); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
